textarea, .note-editing-area
{
    border: none;
    line-height: 40px;
    border-bottom: 2px solid #696969;
    background-color: #f8f9fc;
    width: 100%;

}
  .note-editing-area p{
    margin: 0px;
  }

.prefix
{
    color: #f58e2e;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .imgBtn {
    border: 1px solid gray;
    color: gray;
    background-color: white;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

/* FORM */

.plan input{
	display: none;
}

.plan label{
	position: relative;
	color: #fff;
	background-color: #aaa;
	font-size: 20px;
	text-align: center;
	display: block;
	cursor: pointer;
	border: 1px solid transparent;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 50px;
}
.plan input:hover + label{
	background-color: #d47c29;
	border: 1px solid #333;
}

.plan input:checked + label{
	border: 1px solid #333;
	background-color: #d47c29;
}

.plan input:checked + label:after{
	content: "\2713";
	width: 20px;
	height: 20px;
	line-height: 15px;
	border-radius: 100%;
	border: 1px solid #333;
	background-color: #2fcc71;
	z-index: 999;
	position: absolute;
	top: -8px;
    right: -8px;
}
.dropdown
{
    float: left;
}
.btnAdd {
	background-color: #d47c29;
	border: 1px solid #333;
	color: #fff;
}