// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

// Variables
@import 'variables';

// Custom Css
@import 'custom';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
